@charset "utf-8";

* {margin:0; padding:0;}

html {position: relative; }
body {width: 100%; min-width: 320px; font-family: Tahoma, Geneva, Helvetica, Arial, sans-serif; font-size:16px; -webkit-text-size-adjust: none;}

img {border:0;}
p {margin-bottom: 20px;}
a {color:#0482d5;}
a:hover {text-decoration:none;}

input, textarea, a {
	-webkit-appearance: none;
} 

.main {max-width:640px; margin:40px auto; position:relative;}
.krug {background:#2aa7fa; border-radius:50%; width:80px; height:80px; 
text-align:center; padding:14px; font-size:14px; vertical-align: middle;
display:table-cell; color:#fff;}

.header h1 {font-size:32px; border-left:4px solid #69c3ff; padding-left:20px; margin-bottom:40px; margin-top:30px;}
.header h1 span {font-size:22px; font-weight:400; width:100%; display:inline-block;
margin-top:20px;}

.header p {line-height:1.5;}

.image {margin-bottom:30px;}
.image img {width:100%; display:block; max-width:260px;}

.form {max-width:300px; border:1px solid #e2e2e2; padding:30px; border-radius:10px;
box-shadow:0px 0px 20px #00000014;}
.form .sale-label {background:#ffa505; display:inline-block; padding:4px 10px; border-radius:4px;
font-weight:600; color:#fff;}
.form .cost {margin:20px 0 20px 0;}
.form .old-cost {text-decoration:line-through; font-size:24px; margin-bottom:6px;}
.form .new-cost {}
.form .new-cost strong {font-size:34px; display:block;}
.form form {}
.form form input {border-radius:4px; border:1px solid #ccc; font-size:17px;
padding:10px 20px; background:#f9f9f9; margin-bottom:8px; 
width:calc(100% - 40px); text-align:center;}
.form form button {border-radius:8px; border:0; font-size:20px;
padding:20px 20px; background:#ffd305; margin-bottom:8px; width:calc(100%);
font-weight:600; border-bottom:3px solid #b99900; cursor:pointer;}
.form form button:hover {background:#efc500;}
.form .rem {margin-top:20px; margin-bottom:10px;}
.form .rem span {background:#39b0ff; color:#fff; padding:4px 10px;
border-radius:6px; font-weight:600; margin-left:6px;}

.footer {margin-top:60px; text-align:center;}
.footer a {margin-right:20px; color:#0482d5;}
.footer a:last-child {margin-right:0px;}

/*----MEDIA-----*/
@media (max-width: 700px) {
.main {margin:30px 20px;}
.header h1 {font-size:28px;}
.footer a {display:block; margin-right:0; margin-bottom:6px;}
}

@media (max-width: 400px) {

.header h1 {font-size:24px;}
.form {padding:20px; border-radius:0px; margin:0 -20px; }
}